.group{
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 100px);
    align-items: center;
    .edit_options_box{
        position: relative;
        text-align: center;
        &:hover .edit_options{
            display: grid;
        }
        .edit_options{
            display: none;
            position: absolute;
            top: 18px;
            width: max-content;
            background-color: var(--light-color);
            box-shadow: 0px 2px 10px #0000001f;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
        }
    }
}
.group:not(:first-child){
    margin-top: 10px;
}
.group_edit_form{
    border-top: 1px dashed var(--middle-color);
    display: grid;
    grid-template-rows: auto;
    gap: 5px;
    label{
        display: grid;
        grid-template-columns: 100px 1fr;
        align-items: center;
        gap: 10px;
        input, select{
            border: 1px solid var(--middle-color);
            border-radius: 5px;
            padding: 5px 10px;
        }
    }
    .edit_button_group{
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
    }
}