<header class="header">
	<div class="limit">
		<img src="../../../favicon.ico" class="logo">
		<!-- <app-preloader></app-preloader> -->

		<nav class="nav">
			<a [routerLink]="[ '/department/list' ]" routerLinkActive="active" class="link transition  border border-radius p10">Кафедри</a>
			<a [routerLink]="[ '/department/list' ]" routerLinkActive="active" class="link transition border border-radius p10 ml20">Групи</a>
			<a [routerLink]="[ '/department/list' ]" routerLinkActive="active" class="link transition border border-radius p10 ml20">Студенти</a>
		</nav>
	</div>	
</header>
