/*------------ border ------------*/
.border{
	border: 1px solid var(--middle-color);
}
.border-radius{
	border-radius: 6px;
}
/*------------ margin ------------*/
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}
/*------------ padding ------------*/
.p20{
    padding: 20px;
}
.p10{
    padding: 10px;
}
.pt20{
    padding-top: 20px;
}
.pb20{
    padding-bottom: 20px;
}
.pl20{
    padding-left: 20px;
}
.pr20{
    padding-right: 20px;
}
.pt10{
    padding-top: 10px;
}
.pb10{
    padding-bottom: 10px;
}
.pl10{
    padding-left: 10px;
}
.pr10{
    padding-right: 10px;
}