:root{
    --primary-color: #009688;
    --light-color: #ffffff;
    --soft-light-color: #efefef;
    --middle-color:#d0d7de;
    --soft-dark-color: #32373c;
    --dark-color: #24292f;

    --add-color: #4caf50;
    --edit-color: #2196f3;
    --delete-color: #f44336;
    --update-color: #2196f3;

    --border-radius: 5px;
}