<a [routerLink]="[ '/student/list' ]" class="breadcrumb mb20">Студенти</a>

<div class="wrapper border border-radius mb20">
    <header class="p20">
        <h2>Додати студента</h2>
    </header>

    <div class="content p20">
        <form [formGroup]="student" (ngSubmit)="createStudent()" class="add_student_form pt10">
            <label for="name">Ім'я:</label>
            <input type="text" formControlName="name" id="name">
            <ng-template [ngIf]="student.controls['name'].invalid && student.controls['name'].touched">
                <app-message [type]="'warning'" [message]="'Введіть ім\'я'" [classes]="'mb10 alert'"></app-message>
            </ng-template>

            <label for="last_name">Прізвище:</label>
            <input type="text" formControlName="last_name" id="last_name">
            <ng-template [ngIf]="student.controls['last_name'].invalid && student.controls['last_name'].touched">
                <app-message [type]="'warning'" [message]="'Введіть прізвище'" [classes]="'mb10 alert'"></app-message>
            </ng-template>

            <label for="surname">По батькові:</label>
            <input type="text" formControlName="surname" id="surname">
            <ng-template [ngIf]="student.controls['surname'].invalid && student.controls['surname'].touched">
                <app-message [type]="'warning'" [message]="'Введіть по батькові'" [classes]="'mb10 alert'">
                </app-message>
            </ng-template>

            <label for="birthdate">Дата народження:</label>
            <input type="date" formControlName="birthdate" id="birthdate">
            <ng-template [ngIf]="student.controls['birthdate'].invalid && student.controls['birthdate'].touched">
                <app-message [type]="'warning'" [message]="'Введіть дату народження'" [classes]="'mb10 alert'">
                </app-message>
            </ng-template>

            <label for="email">Email:</label>
            <input type="email" formControlName="email" id="email">
            <ng-template [ngIf]="student.controls['email'].invalid && student.controls['email'].touched">
                <ng-template [ngIf]="student.controls['email'].errors.required">
                    <app-message [type]="'warning'" [message]="'Введіть email'" [classes]="'mb10 alert'"></app-message>
                </ng-template>
                <ng-template [ngIf]="student.controls['email'].errors.email">
                    <app-message [type]="'warning'" [message]="'Введіть коректний email'" [classes]="'mb10 alert'">
                    </app-message>
                </ng-template>
            </ng-template>

            <label for="department_id">Кафедра:</label>
            <select formControlName="department_id" id="department_id" (change)="filterSituableOptions($event)">
                <option *ngFor="let department of departments;" value="{{department.id}}">{{ department.name }}</option>
            </select>
            <ng-template [ngIf]="student.controls['department_id'].invalid && student.controls['department_id'].touched">
                <app-message [type]="'warning'" [message]="'Виберіть кафедру'" [classes]="'mb10 alert'"></app-message>
            </ng-template>

            <label for="group_id">Група:</label>
            <select formControlName="group_id" id="group_id" [(ngModel)]="student.value.group_id">
                <ng-template [ngIf]="groups.visible">
                    <option *ngFor="let group of groups.visible" value="{{group.id}}">{{ group.abbr }}</option>
                </ng-template>"
            </select>
            <ng-template [ngIf]="student.controls['group_id'].invalid && student.controls['group_id'].touched">
                <app-message [type]="'warning'" [message]="'Виберіть групу'" [classes]="'mb10 alert'"></app-message>
            </ng-template>

            <label for="form_education">Форма навчання:</label>
            <select formControlName="form_education" id="form_education">
                <option value="Денна">Денна</option>
                <option value="Заочна">Заочна</option>
            </select>
            <ng-template [ngIf]="student.controls['form_education'].invalid && student.controls['form_education'].touched">
                <app-message [type]="'warning'" [message]="'Виберіть форму навчання'" [classes]="'mb10 alert'">
                </app-message>
            </ng-template>

            <div *ngIf="preloader; else studentAddForm" class="pt10">
                <app-preloader></app-preloader>
            </div>
            <ng-template #studentAddForm>
                <button [disabled]="!student.valid" class="add border border-radius p10" type="submit">Додати</button>
            </ng-template>
        </form>
    </div>


</div>

<div *ngIf="message.value">
    <app-message [type]="message.type" [message]="message.value" [classes]="'m20'"></app-message>
</div>